*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

body{
    font-family:'Kulim Park' 
}

.navegaçao {
    background-image: url();
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.foto-logo{
    width: 94px;
    height: 92px;


}
  
ul{
    display: flex;
    padding: 1px;
    padding-right: 40px;
    
} 

li {
    color: #ffffff;
    width: 50%;
    list-style-type: none;
    text-decoration :none;
    
  }

 a{
    text-decoration :none;
    color: #ffffff;
    padding: 5px;
 }

.foto{
    background-image: url(./fotos/banner.png);
    background-size: cover;

    width: 100vw;
    height: 100vh;
}


.hadja{
font-size: 8.0rem;
font-weight: 700;
text-align: center;
}


.paragrafo{
color: #DF994E;
font-family:'Kulim Park' ;
font-size: 2rem ;
font-weight: 700;
text-align: center;

}


.tela-2{
    display: flex;
    align-items: center;

    background-color: #000;
}

.textinho{
    color: #666666 ;
    font-family: "Inter", sans-serif;
    padding-left: 40px;
    text-align: center;
    font-size: 1.2rem;
    
    
}

.titulo1{
    color: #ffffff;
    font-family:'Kulim Park' ;
    text-align: center;
    padding-bottom: 5px;
    
}


.botao{
 background:#DF994E ;
 padding: 15px 25px 15px 25px;
 font-size: 17px;
 margin-top: 25px;
 

}
.foto1{
    width: 100%;
    height: 100%;
    padding:45px 0 0 45px;
}


.frase{
    background: black;
    display: flex;
    text-align: center;
    color: #ffffff;
    padding: 150px;
    
}

.caixa-2{
    background: #000;
  
}

.textos-pag1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 0 0 0 3px;
}

.caixa-foto{
    width: 50%;
}

.tela-inicial{
    padding-top: 150px;
}

.tela-4{
    background-color: #000;
    font-family:'Kulim Park' ;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;

}

.titulo-final{
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    padding: 40px;
   
}

.ultima-fotinha{
    background-color: #000;
    width: 55%;
  
  
    
}

.ultima-caixa{
    width: 30%;
    font-size: 2rem;
  
  
    
}

.ultima-caixa p {
    margin:0 0 10px 0;
}




h3{
    color: #ffffff;
    background-color: #000;
}
    
.frases{
    color: #ffffff;
    background-color: #000;
   
}

.roda-pe{

background-color: #000;
}

.roda-pe{
    text-align: center;
    padding: 85px;
}









@media only screen and (max-width: 600px) {
    h1, p{
        font-size: 2rem;
    }

    .tela-inicial{
       
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foto{
        height: 100vh
    }

    li{
        font-size: 1rem
    }

    .hadja{
 font-size: 3rem;
    }

    .tela-4{
        display: flex;
     flex-direction: column;

    }

    .ultima-caixa{
        width: 85%;

    }

    .ultima-fotinha{
        width: 90%;
    }

    .titulo-final{
        width: 100%;
      font-size: 40px;
    }
 
    .frase{
        padding: 30px;
    }

    .tela-2 {
       display: flex;
       flex-direction: column;
    }


    .titulo1 {
        font-size: 1.5rem;
        padding: 6px;
        
    }

    .foto1{
        width: 35vh;
    }

    .textos-pag1{
        width: 95%;
    }

    .botao{
        margin: 10px;
    }

    .textinho{
        padding: 10px;
    
    }

}